extends layout

block content
  .container
    h1= title
    .row
      each tournament in data
        .col-md-3
          a(class='card')
            img.card-img-top(src="images/league.png")
            .card-body
              if tournament.Category.country_code
                h6.card-text.text-center= `${tournament.name} - ${tournament.Category.country_code}`
              else
                h6.card-text.text-center= `${tournament.name}`