body {
    padding-top: 16px;
}

.col-md-3 {
    padding-top: 15px;
    padding-bottom: 15px;
}

a.card {
    text-decoration: none;
    color: inherit;
}

.card-col {
    padding-bottom: 16px;
}

.card-col h6 {
    font-size: 0.85vw;
}

img.card-img-top {
    object-fit: contain;
    padding: 15px;
}

/* ResultsPage */
.stats .row, .results .row {
    margin-left: 8px;
}

.stats .dropdown {
    margin-bottom: 8px;
}

.results.card {
    margin: 8px;
    padding: 0px;
}

.results.card-body {
    padding: 0.3rem;
}

.results.card-body p {
    display: inline;
    font-size: .95vw;
}

.results.card-body img {
    width: 1.3em;
    height: 1.3em;
    margin: 0.4em;
}

h4 {
    margin-top: 16px;
}
