body {
    padding-top: 16px;
}

.col-md-3 {
    padding-top: 15px;
    padding-bottom: 15px;
}

a.card {
    text-decoration: none;
    color: inherit;
}

img.card-img-top {
    object-fit: contain;
    padding: 15px;
}