body {
    padding-top: 16px;
}

.col-md-3 {
    padding-top: 15px;
    padding-bottom: 15px;
}

a.card {
    text-decoration: none;
    color: inherit;
}

.card-col {
    padding-bottom: 16px;
}

.card-col h6 {
    font-size: 0.85vw;
}

img.card-img-top {
    object-fit: contain;
    padding: 15px;
}